<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :event_title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :event_content %>
  </div>

  <div class="field">
    <%= form.label :date_of_event %>
    <%= form.datetime_select :date_of_event, id: :event_date_of_event %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
