<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @event.content %>
</p>

<p>
  <strong>Date of event:</strong>
  <%= @event.date_of_event %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<h2> <%= @event.comments.count %> Comments</h2>
<%= render @event.comments %>
<h3>Add a comment</h3>
<%= render 'comments/form' %>
